.btn {
  width: 60px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 1rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--hover-button-color);
  transform: scale(1.05);
}
